services:
  mongodb:
    image: mongo:latest
    container_name: RackAI_db
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
    volumes:
      - mongodb_data:/data/db

    env_file:
      - .env

volumes:
  mongodb_data:
    driver: local